<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @destination.name %>
  </h3>

  <p>
    <strong>Zip:</strong>
    <%= @destination.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @destination.description %>
  </p>

  <%= image_tag(@destination.image_url) %>

  <div class="row">
    <h4>Forecast for <%= @destination.name %>: </h4>
    <h5>The weather will be <%= @weather.detailed_description %> </h5>
    <h5>Temperature</h5>
    <ul>
      <li>High: <%= @weather.max_temp %> </li>
      <li>Low: <%= @weather.min_temp %></li>
    </ul>
  </div>
  <p> <%= @weather.date %></p>
  <div class="row">
    <%= link_to 'Edit', edit_destination_path(@destination) %> |
    <%= link_to 'Back', destinations_path %>
  </div>
</div>
